<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Courses</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="/static/css/bootstrap.css" rel="stylesheet" >
</head>
<body class="bg-light">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding: 15px 2% 15px 2%">
    <a class="navbar-brand" href="/">Welcome</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home </a>
        </li>
          <a class="nav-link" href="/search">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
    </div>
  </nav>
    <h1 class="display-1 text-center" style="padding-top: 3%;">Courses</h1>

  <div class="container-fluid" id="courses-grid" style="padding: 5% 10% 5% 10%;">
      <!-- courses will be generated here -->
    </div>
  </div>
  <script src="/static/js/bootstrap.bundle.js"></script>
  <script src="/static/js/jquery-3.6.0.min.js"></script>
  <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>
