<!DOCTYPE html>
<html>
  <head>
    <title>Download a file</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1 class="mt-5 mb-3">Download a file</h1>
      <form action="/resources" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="url">URL:</label>
          <input type="url" name="url" id="url" class="form-control" >
        </div>
        <div class="form-group">
          <label for="filename">Filename:</label>
          <input type="text" name="filename" id="filename" class="form-control" disabled="true">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" name="local_file" id="local_file" class="form-check-input">
          <label class="form-check-label" for="local_file">Local file</label>
        </div>
        <button type="submit" class="btn btn-primary">Download</button>
      </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"  crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"  crossorigin="anonymous"></script>
    <script>
        const checkbox = document.getElementById('local_file');
        checkbox.addEventListener('change', (event) => {
        if (event.target.checked) {
            //disable an element from its id            
            document.getElementById('url').disabled = true;
            document.getElementById('filename').disabled = false;
        } else {
            document.getElementById('filename').disabled = true;
            document.getElementById('url').disabled = false;
        }
        });
    </script>
  </body>
</html>
